.NavBar {
    padding: 0.5rem 1rem;
    display: flex;
    background-color: hsl(0, 0%, 10%);
}

.Link {
    padding: 1em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    flex: 1;
    color: white;

    &.active {
        color: yellow;
    }
}
