.Snack {
    padding: 1rem;
}

.Name {
    font-size: 2em;
    text-decoration: underline;
}

.Details {
    font-size: 1.25em;
    margin-bottom: 1rem;
}

.Home {
    background-color: hsl(0, 0%, 10%);
    color: yellow;
    padding: 0.5em;
    font-weight: 600;
    border-radius: 0.5em;
}
